body {
    background: radial-gradient(#eeaeca, #94bbe9);
    text-align: center;
    padding: 20px;
    margin: 30px;
}

h1 {
    font-family: 'Rubik Puddles', cursive;
    font-size: 50px;
    color: white;

}

q {
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    color: white;

}

img {
    width: 250px;
    height: 250px;

}

.container {
    width: 1000px;
    margin: 0 auto;
    position: relative;

}

.image {
    width: 250px;
    height: 250px;
    margin: 25px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    position: absolute;
    z-index: 10;

}

.image-1 {
    top: 100px;
    right: 15%;

}

.image-2 {
    top: 200px;
    left: 35%;

}

.image-3 {
    top: 50px;
    right: 0;
    z-index: 1;

}

.image-4 {
    top: 50px;
    left: 0;
    z-index: 1;

}

.image-5 {
    top: 100px;
    left: 15%;
    z-index: 2;

}

.image:hover {
    outline: 15px solid #14addc;
    transform: scale(1.05) translateY(-20px);
    z-index: 20;

}

footer {
    padding: 20px;
    text-align: center;

}

#switchbutton {
    background-color: aliceblue;
    border-radius: 8px;

}

#switchbutton:hover {
    background-color: #eeaeca;
    transform: scale(1.3);
    transition: 0.5s;

}